<section class="portfolio section" id="portfolio">
  <div class="background-bg">
    <div class="overlay overlay-sm">
      <img
        src="./assets/images/shapes/half-circle.png"
        class="shape half-circle1"
        alt=""
      />
      <img
        src="./assets/images/shapes/half-circle.png"
        class="shape half-circle2"
        alt=""
      />
      <img
        src="./assets/images/shapes/square.png"
        class="shape square"
        alt=""
      />
      <img src="./assets/images/shapes/wave.png" class="shape wave" alt="" />
      <img
        src="./assets/images/shapes/circle.png"
        class="shape circle"
        alt=""
      />
      <img
        src="./assets/images/shapes/triangle.png"
        class="shape triangle"
        alt=""
      />
      <img src="./assets/images/shapes/x.png" class="shape xshape" alt="" />
    </div>
  </div>

  <div class="container">
    <div class="section-header">
      <h3 class="title" data-title="My works">Portfolio</h3>
    </div>
  </div>
</section>
