<section>
  <header id="header">
    <div class="overlay overlay-lg">
      <img
        src="./assets/imgages/shapes/square.png"
        class="shape square"
        alt=""
      />
      <img
        src="./assets/images/shapes/circle.png"
        class="shape circle"
        alt=""
      />
      <img
        src="./assets/images/shapes/half-circle.png"
        class="shape half-circle1"
        alt=""
      />
      <img
        src="./assets/images/shapes/half-circle.png"
        class="shape half-circle2"
        alt=""
      />
      <img src="./assets/images/shapes/x.png" class="shape xshape" alt="" />
      <img
        src="./assets/images/shapes/wave.png"
        class="shape wave wave1"
        alt=""
      />
      <img
        src="./assets/images/shapes/wave.png"
        class="shape wave wave2"
        alt=""
      />
      <img
        src="./assets/images/shapes/triangle.png"
        class="shape triangle"
        alt=""
      />
      <img src=".assets/images/shapes/letters.png" class="letters" alt="" />
      <img
        src="./assets/images/shapes/points1.png"
        class="points points1"
        alt=""
      />
    </div>
    <div class="header-content">
      <div class="container grid-2">
        <div class="column-1">
          <h1 class="header-title">Web Designer</h1>
          <p class="text">
            Hello, I'm Hemanth, web designer and developer. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Totam magni sit hic!
          </p>
          <a [routerLink]="['contact']" class="btn">Hire Me</a>
        </div>

        <div class="column-2 image">
          <img
            src="./assets/images/shapes/points2.png"
            class="points points2"
            alt=""
          />
          <img
            src="./assets/images/about.png"
            class="img-element z-index"
            alt=""
          />
        </div>
      </div>
    </div>
  </header>
</section>

<app-services> </app-services>

<app-testimony></app-testimony>
