<section class="about section" id="about">
  <div class="container">
    <div class="section-header">
      <h3 class="title" data-title="Who Am I">About me</h3>
    </div>

    <div class="section-body grid-2">
      <div class="column-1">
        <h3 class="title-sm">Hello, I'm</h3>
        <p class="text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium
          distinctio doloribus quam? Ut, laudantium a dolore, minima repudiandae
          iure iste molestiae exercitationem earum neque tempora?
        </p>
        <div class="skills">
          <div class="skill html">
            <h3 class="skill-title">HTML</h3>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 85%; background-color: #784cfb"
              ></div>
            </div>
          </div>
          <div class="skill css">
            <h3 class="skill-title">CSS</h3>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 75%; background-color: #784cfb"
              ></div>
            </div>
          </div>
          <div class="skill js">
            <h3 class="skill-title">JavaScript</h3>
            <div class="progress">
              <div
                class="progress-bar progress-bar-striped progress-bar-animated"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 95%; background-color: #784cfb"
              ></div>
            </div>
          </div>
        </div>
        <a href="#" class="btn">Read more</a>
      </div>

      <div class="column-2 image">
        <img src="./img/shapes/points4.png" class="points" alt="" />
        <img src="./img/about.png" class="z-index" alt="" />
      </div>
    </div>
  </div>
</section>
